<nav id="main-nav">
    <div class="nav-link">
        <span>Home Watch</span>
    </div>

    <div class="nav-link">
        <span>Pressure Washing</span>
    </div>

    <div class="nav-link">
        <span>Maintenance and Repair</span>
    </div>

    <div class="nav-link">
        <span>Lawn Care</span>
    </div>

    <div class="nav-link">
        <span>Other Services</span>
    </div>

</nav>