<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!-- TODO: Get Siema working here to improve performance? -->
<dom-module id="chameleon-banner">
    <template>
        <style>
            
        </style>

        
    </template>

    <script>
        class ChameleonBanner extends Polymer.Element {
            static get is() { return 'chameleon-banner'; }

            static get properties() {
                return {
                    imageListPath: {
                        type: String,
                        value: "banner.json"
                    },

                    basePath: {
                        type: String,
                        value: "/media/banner/"
                    },

                    transitionTime: {
                        type: Number,
                        value: 10
                    },

                    currentImage: {
                        type: Number,
                        value: 0
                    }
                }
            }

            constructor() {
                super();
                this.images = [];
                this.cached = 0;
                this.imagesAllLoaded = false;
                this.currentImage = 0;
            }

            
        }

        customElements.define(ChameleonBanner.is, ChameleonBanner);
    </script>
</dom-module>